homeassistant
bleak
bleak_retry_connector
dacite
aiohttp
awsiotsdk
bluetooth_adapters
mergedeep
pre-commit
bidict
homeassistant-stubs
types-awscrt
voluptuous-stubs
translate
cryptography>=42.0.8 # not directly required, pinned by Snyk to avoid a vulnerability